body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #c3cfe2 0%, #c3cfe2 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

#chatbox-container {
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#chatbox {
    padding: 10px;
    height: 400px;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.3);
}

.message {
    margin-bottom: 10px;
}

.message-header {
    font-size: 0.9em;
    color: #ffffff;
    font-weight: bold;
}

.message-header strong {
    color: #e0f7fa;
}

.message-header em {
    color: #b0bec5;
}

.message-body {
    margin-left: 20px;
    font-size: 1em;
    color: #ffffff;
}

#chatForm {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.18);
}

#chatForm input[type="text"] {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    outline: none;
}

#chatForm input[type="text"]::placeholder {
    color: #b0bec5;
}

#chatForm textarea {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    outline: none;
    resize: none; /* Disable resizing */
    min-height: 100px; /* Minimum height */
}

#chatForm button {
    padding: 10px 20px;
    border: none;
    background-color: #0288d1;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#chatForm button:hover {
    background-color: #0277bd;
}
